<header class="header">
  <div class="logo">
    <img  src="https://img.freepik.com/vetores-gratis/modelo-de-logotipo-de-laptop-gradiente-criativo_23-2149010269.jpg" >
  </div>
  <nav class="menu">
    <ul>
      <li>
        <a [routerLink]="['']">Produtos</a>
      </li>
      <li>
        <a [routerLink]="['cadastrar']">Cadastrar Produto</a>
      </li>
      <li>
        <a [routerLink]="['consertos']">Consertos</a>
      </li>
      <li>
        <a [routerLink]="['chamados']">Abrir Chamados</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
